
<div class="signup-page">
<form class="modal-content" [formGroup]="signUpForm" (ngSubmit)="validate()" id="first">
    <div class="container">
      <h1 class="row">Sign Up</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" formControlName="email" placeholder="Enter Email" autocomplete="off" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" autocomplete="off" name="psw" required>

      <div class="clearfix">
           <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>

  <div class="msg">{{validMessage}}</div>


</div>



<!-- <routing-guard id="ll"></routing-guard> -->