/* You can add global styles to this file, and also import other style files */

.title{.container {
  width           : 100%;
  position        : absolute;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: #1b8f49;
  box-shadow      : 1px 1px 15px 16px #8eb9df;
  top             : 100px;
  left            : 50%;
  transform       : translate(-50%, -50%);
}

.text span {
  font-size      : 60px;
  padding        : 0 10px;
  text-transform : uppercase;
  font-weight    : 600;
  color          : #fff;
  animation      : zoomup 3s ease infinite;
  animation-delay: calc(100ms * var(--i));
}

.dot {
  display: block;
}

@keyframes zoomup {

  0%,
  100% {
    color : #ffb703;
    filter: blur(0.5px);
    text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703,
      0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703;
    font-size: 60px;
  }

  50% {
    filter     : blur(0);
    color      : #fff;
    text-shadow: none;
    font-size  : 20px;
  }
}

.ml {
  margin-left: 20px;
}
}
